.jumpPic{
    overflow-y: auto;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100vw);
    transition-duration: 0.5s;
}
.getWeChatPic{
    overflow-y: auto;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100vw);
    transition-duration: 0.5s;
}
.getWeChatPic_pic{
    background: url("../pic/weChatImg.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: transform 0.5s;
    transform: scale(0.0);
}
#contact {
    display: none;
    overflow-y: auto;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100vw);
    transition-duration: 0.5s;
    /*-moz-transform: translateX(-100vw);*/
    /*-moz-transition-duration: 0.5s;*/
    /*-webkit-transform: translateX(-100vw);*/
    /*-webkit-transition-duration: 0.5s;*/
    /*-o-transform: translateX(-100vw);*/
    /*-o-transition-duration: 0.5s;*/
}

#contact_info {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 300px;
}

.button_model {
    float: left;
    width: 150px;
    height: 136px;
    margin: auto;
}

.button_model_anime {
    width: 80px;
    height: 106px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    top: 50px;
    transition: transform 0.5s;
}

.button_model_pic {
    width: 80px;
    height: 80px;
    background-color: rgb(119, 191, 163);
    border-radius: 50%;
    transition: transform 0.1s;
}

.button_model_font {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#button_model_anime_1 {
    transform: scale(0.0);
    /*transform: translate(-80vw, -80vh);*/
}

#button_model_anime_2 {
    transform: scale(0.0);
    /*transform: translate(80vw, -80vh);*/
}

#button_model_anime_3 {
    transform: scale(0.0);
    /*transform: translate(-80vw, 0vh);*/
}

#button_model_anime_4 {
    transform: scale(0.0);
    /*transform: translate(80vw, 0vh);*/
}

#button_model_anime_5 {
    transform: scale(0.0);
    /*transform: translate(-80vw, 80vh);*/
}

#button_model_anime_6 {
    transform: scale(0.0);
    /*transform: translate(80vw, 80vh);*/
}
#contact_weChat_div{
    width: 300px;
    height: 0px;
    float: left;
    background-size: cover;
    transition: height 0.5s;
    transition: transform 0.5s;
    transform: scale(0.0);
    overflow: hidden;
}
#contact_DouYin_div{
    width: 300px;
    height: 0px;
    float: left;
    background-size: cover;
    transition: transform,height 0.5s;
    transition: transform 0.5s;
    transform: scale(0.0);
    overflow: hidden;
}
#contact_weChat_img{
    width: 300px;
    height: 300px;
    float: left;
    background: url("../pic/weChatImg.jpg") no-repeat;
    background-size: cover;
}
#contact_DouYin_img{
    width: 300px;
    height: 300px;
    float: left;
    background: url("../pic/douyinEr.png") no-repeat;
    background-size: cover;
}
#contant_close_div{
    width: 100vw;
    height: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#closecontact{
    float: right;
    width: 44px;
    height: 44px;
    background: url("../pic/cd-icon-close.svg");
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(0.1);
}
.address_img{
    width: 60px;
    height: 60px;
    background-size: cover;
    position: absolute;
    transition: transform 0.5s;
    margin: 10px 10px 10px 10px;
}
#address_bilibili_img{
    background-image: url("../pic/bilibili-line.svg");
    background-repeat:no-repeat;
}
#address_weibo_img{
    background-image: url("../pic/weibo.svg");
    background-repeat:no-repeat;
}
#address_email_img{
    background-image: url("../pic/address_email.svg");
    background-repeat:no-repeat;
}
#address_phone_img{
    background-image: url("../pic/address_phone.svg");
    background-repeat:no-repeat;
}
#address_wechat_img{
    background-image: url("../pic/weChat.svg");
    background-repeat:no-repeat;
}
#address_douyin_img{
    background-image: url("../pic/douyin.svg");
    background-repeat:no-repeat;
}
#buttom_div{
    width: 100vw;
    height: auto;
    float: left;
    padding-bottom: 20vh;
    position: absolute;
}