body{
    background-color: black;
}
#head{
    height: 60px;
}
.teacher_page_up_in {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.teacher_page_up_left {
    width: 100%;
}

.teacher_logo_2_pic {
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom: 46%;
    width: 100%;
    height: 0;
}

.teacher_page_up_left_rightMenu {
    display: none;
}

.teacher_page_up_down {
    background: rgba(23, 20, 20, 0.58);
}

.teacher_page_up_down_left {
    width: 100%;
}

.teacher_page_up_down_left_in {
    padding: 1em 1em 1em 1em;
}

.teacher_page_up_down_left_in_hi {
    width: 34px;
    height: 21px;
    font-size: 16px;
    padding: 6px 16px;
}
.teacher_page_up_down_left_in_li{
    line-height: 200%;
    margin-bottom: 1em;
}
.teacher_page_up_down_left_in_li_b {
    font-weight: 400;
    font-size: 16px;
}

.teacher_page_up_down_left_in_style {
    overflow-y: auto;
}


.teacher_page_up_down_right {
    padding: 1em 1em 1em 1em;
}

#top_pic1 {
    padding-bottom: 100%;
    width: 100%;
    height: 0;
}

.teacher_page_down {
    padding: 16px 0 16px 0;
    background: rgba(244,244,244);
}

#pic2_img {
    display: none;
}

.teacher_page_down_right {
    background: rgba(244,244,244,1);
    width: 100vw;
}

#teacher_info_pages {
    width: 300vw;
    padding: 2em 0 2em 0;
}

.teacher_page_down_right_page {
    width: 100vw;
}

.teacher_page_down_right_page_in {
    margin-left: 6vw;
    margin-right: 6vw;
    width: 66vw;
}

.teacher_page_down_right_page_in_h2 {
    color: #191919;
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.teacher_page_down_right_page_in_h2 {
    font-weight: 700;
}

.teacher_page_down_right_page_in_p {
    max-height: 256px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.teacher_page_down_right_page_in_div {
    position: relative;
    margin-top: 48px;
}

.teacher_page_down_right_page_in_div_font {
    margin-right: 20vw;
    position: relative;
    padding: 5vw 10vw;
    height: auto;
    width: auto;
}

.teacher_page_down_right_page_in_div_font_ge{
    display: block;
    width: 10vw;
    height: 15vw;
}

.teacher_info_dot_div {
    left: 85%;
    top: 20vw;
    width: 13px;
}

.teacher_info_div_dot {
    padding: 0.1em 0;
    width: 13px;
    height: auto;
}

.teacher_info_div_dot_style {
    width: 13px;
    height: 13px;
    margin: 5px 0px;
    border-radius: 20px;
}
.teacher_page_video_show{
    width: 77vw;
    height: 66vw;
}
.teacher_page_show_er_pic{
    background: url("../pic/douyinEr.png");
    background-size: cover;
    width: 66vw;
    height: 66vw;
}