#head {
    height: 158px;
    background-color: black;
}

.video_main {
    width: 100vw;
    background-color: rgb(72, 72, 72);
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

.video_in {
    overflow: auto;
    width: 1100px;
    margin: 0 auto;
    padding-text-outline: 48px;
    padding-bottom: 48px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    overflow: auto;
}

.video_tittle {
    text-align: center;
    margin-bottom: 48px;
    font-size: 46px;
}

.video_show_main {
    width: 1100px;
    float: left;
    position: relative;
}

#video_left {
    width: 520px;
    padding-left: 15px;
    padding-right: 15px;
}

.video_left_main {
    width: 520px;
    height: 350px;
    margin-bottom: 48px;
}

.video_show_tittle {
    bottom: 49px;
    left: -30px;
}

.video_show_tittle_h5 {
    font-size: 18px;
    color: white;
    padding-bottom: 7px;
    margin: 0 0 0 0;
}

.video_show_tittle_p {
    font-size: 14px;
    color: #000;
    margin: 0 0 0 0;
}

.video_show_video {
    width: 90%;
}

.video_right {
    width: 520px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
}

.video_right_main {
    width: 520px;
    height: 350px;
    margin-top: 48px;
}

.video_more_main {
    min-height: 300px;
}

.video_more_in {
    width: 500px;
    height: 300px;
    top: 40px;
}

#weixin {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-top: 50px;
}

#douyin {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
#waitingPic{
    background: url("../pic/wating_background.png") no-repeat;
    background-size: cover;
    height: 50vw;
    width: 50vw;
    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}