<!DOCTYPE html>
<html id="a">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css" type="text/css" />
<link rel="stylesheet" href = "css/index_weChat_img.css" type = "text/css"/>
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/index_weChat_img.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body style="margin: 0px 0px 0px 0px">
	<div>
		<header id="head">
			<div>
				<div id="head_top">
					<div id="head_top_left">
						<div id="head_top_left_menu">
							<div id="head_top_left_menu_pic"></div>
							<div id="head_top_left_menu_text">MENU</div>
						</div>
						<div id="head_top_left_search">
							<div id="head_top_left_search_pic"></div>
							<div id="head_top_left_menu_text">SEARCH</div>
						</div>
					</div>
					<div id="head_top_center">
						<div id="head_top_center_center"></div>
					</div>
					<div id="head_top_right">
						<div id="head_top_right_wechat"></div>
						<div id="head_top_right_weibo"></div>
						<div id="head_top_right_youku"></div>
						<div id="head_top_right_text">FOLLOW US :</div>
						<!-- 微信弹出照片 -->
						<div id ="weChatModel" class = "weChatModel">
							<span class = "weChatclose" onclick="closeWeChatPic()">&times;</span>
							<img class = "weChatModal-content" id = "weChatImg" src="pic/weChatImg.jpg">
							<div id = "weChatInfo">微信二维码</div>
						</div>
					</div>
				</div>
				<div style="width: 100%; height: 1px; background-color: #777A7B"></div>
			</div>
			<div id="head_down_main">
				<div id="head_down">
					<div id="head_down_center">
						<div class="head_down_center_text">
							<a href="javascript:void(0)" onclick="instrumentTeaching()">乐器教学</a>
						</div>
						<div class="head_down_center_text">
							<a href="javascript:void(0)" onclick="undertakePerformance()">演出承接</a>
						</div>
						<div class="head_down_center_text"
							id="head_down_center_text_right">
							<a href="javascript:void(0)" onclick="shortVideoOperation()">短视频运营</a>
						</div>
					</div>
				</div>
				<div style="width: 100%; height: 1px; background-color: #777A7B"></div>
			</div>
		</header>
		<aside id="menu" class="aside">
			<div class="menuleftContent"></div>
		</aside>
		<aside id="search" class="aside">
			<div class="menuleftContent"></div>
		</aside>
		<div id="main">
			<div id="main_1">
				<img style="width: 100%" src="pic/rotating-banner-rg5170gsvf.jpg">
			</div>
			<div id="main_teaching">
				<div id="main_teaching_top"></div>
				<div id="main_teaching_down"></div>
			</div>

			<div>
				<img style="width: 100%" src="pic/rotating-banner-rg5170gsvf.jpg">
			</div>
		</div>
		<div style="width: 100%; position: relative" id="showMasterTeacher">
			<h3 id="headLineMasterTeacher">优秀教师</h3>
			<div style="width: 100%; height: 50vw;">
				<div style="width: 100%; height:100%;z-index: 1; position: absolute" id="showMasterTeacherUp">
					<div id="showMasterTeacherUpLeft">
						<div class = "showMasterTeacherLine2">
							<hr style="float:left;width:3vw;size: 1;padding: 0px 0px 0px 0px;margin: 20px 0px 0px 0px;">
							<font style="float:left">Hesher老师</font>
						</div>
					</div>
					<div id="showMasterTeacherUpRight">
						<div class = "showMasterTeacherLine2">
							<hr style="float:left;width:3vw;size: 1;padding: 0px 0px 0px 0px;margin: 20px 0px 0px 0px;">
							<font style="float:left">李老师</font>
						</div>
					</div>
				</div>
				<div id="showMasterTeacherDown">
					<div id="showMasterTeacherMore" style="color:white;font-size: 16px;position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);">查看更多</div>
				</div>
			</div>
		</div>
		<div id="showHesher">
			<div class="showHesher_page" id="showHesher_left">
				<div id="showHesher_left_top">
					<div style="width: 100%; height: 15%"></div>
					<font class="HesherName">Hesher&nbsp;&nbsp;&nbsp;&nbsp;</font><font
						class="video_font">bilibili</font>
					<div
						style="width: 80%; height: 70%; background-color: white; margin: 0 auto;">
						<iframe
							src="http://player.bilibili.com/player.html?aid=81427197&bvid=BV1EJ411h7vg&cid=139354407&page=1"
							style="width: 100%; height: 100%" scrolling="no" border="0"
							frameborder="no" framespacing="0" allowfullscreen="true">
						</iframe>
					</div>
				</div>
				<div id="showHesher_left_down">查看更多</div>
			</div>
			<div class="showHesher_page" id="showHesher_right">
				<div id="showHesher_right_top">
					<div style="width: 100%; height: 15%"></div>
					<font class="HesherName">Hesher&nbsp;&nbsp;&nbsp;&nbsp;</font><font
						class="video_font">微博</font>
					<div
						style="width: 80%; height: 70%; background-color: white; margin: 0 auto;">
						<iframe style="width: 100%; height: 100%;" frameborder="0"
							scrolling="no" src="https://weibo.com/Pantrick?is_all=1"></iframe>
					</div>
				</div>
				<div id="showHesher_right_down">查看更多</div>
			</div>
		</div>
		<div id="foot">
			<div id="foot_top">
				<div id = "foot_top_top">
					<div style="background-image: url('pic/jumpToTop.png');background-size: cover;width:8%;height:100%;margin:0 auto;"></div>
				</div>
			</div>
			<div id="foot_down">
				<p
					style="width: 640px; color: #888; font-size: 10px; padding-top: 60px; margin: 0 auto;">Copyright
					© 2020 Hesher. All right reserved. Products and specifications are
					subject to change without notice</p>
			</div>
		</div>
	</div>
</body>
</html>