<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">-->
<html style="overflow-x: hidden;overflow-y: auto">
<head>
    <title>Hesher Studio 海涩文化-线上音乐教育的先行者</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="pic/favicon.ico">
    <link rel="stylesheet" href="css/Hesher_Header.css" type="text/css"/>
    <link rel="stylesheet" href="css/Hesher_Bottom.css" type="text/css">
    <link rel="stylesheet" href="css/Hesher_Address.css" type="text/css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <link href="css/index_moble.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)">
    <link href="css/index.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)">
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/Hesher_Head.js"></script>
    <script type="text/javascript" src="js/Hesher_Bottom.js"></script>
    <script type="text/javascript" src="js/Hesher_Address.js"></script>
    <style>
        body {
            font-size: 62.5%;
            font-family: "Microsoft YaHei", Arial;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 0;
            width: 100vw;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        html {
            width: 100vw;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .viewport {
            max-width: 640px;
            min-width: 300px;
            margin: 0 auto;
        }

        body {
            margin: 0px 0px 0px 0px;
        }
    </style>
</head>
<body onload="initPage()">
<!-- 头部标题 -->
<header id="head">
    <!--上方部分 -->
    <div id="head_top">
        <!-- MENU弹出框 分辨率横向大于1024时，左边距40px,小于等于则16px-->
        <div id="head_top_left">
            <div id="header-content-left-in">
                <div id="header-content-left-in-in" onclick="openOrCloseLeftMenu()">
                    <div id="header-content-left-in-in-in">
                        <div id="header-content-left-in-in-in-top"></div>
                        <div id="header-content-left-in-in-in-bottom"></div>
                    </div>
                    <span id="header-menu-text">MENU</span>
                </div>
            </div>
            <div id="left_menu_0">
                <!--电脑端 -->
                <div id="left_menu_web">
                    <div style="width: 100vw;height: 103px;position: absolute;top: 0px;left: 0px;">
                        <div style="position: absolute;top:0px;left:0px;padding-top: 30px;padding-left: 40px;width: 40px;height: 40px;cursor: pointer;"
                             onclick="openOrCloseLeftMenu()"></div>
                    </div>
                    <div class="left_menu_web_style" id="left_menu_web0"></div>
                    <div class="left_menu_web_style" id="left_menu_web1"></div>
                    <div class="left_menu_web_style" id="left_menu_web2"></div>
                </div>
                <!--手机端 -->
                <div id="left_menu_moble" style="display: none">
                    <div style="height: 80px;width: 100vw;position: absolute;top: 0;left: 0;border-bottom: 1px solid rgb(77,77,77)">
                        <div style="position: absolute;padding-left: 16px;padding-top: 20px;width: 40px;height: 40px;cursor: pointer;"
                             onclick="openOrCloseLeftMenu()"></div>
                    </div>
                    <div id="left_menu_moble_0">
                    </div>
                </div>
            </div>
        </div>
        <!--Logo-->
        <div id="logo_div">
            <div id="head_top_logo"></div>
        </div>
        <!-- 右侧图标 分辨不同情况下显示不同 -->
        <div id="head-content-right">
            <div id="pos_relative">
                <div id="header-content-right-sp" onclick="openAddress()">
                    <div id="double_corcle"></div>
                    <span id="header_share_text">SHARE</span>
                </div>
                <div id="header-content-right-wrap">
                    <p id="follow-us-text">FOLLOW US:</p>
                    <div class="little_pic" id="bilibili_logo" onclick="jumpToBiBiliPage()"></div>
                    <div class="little_pic" onclick="jumpToWeiBoPage()" id="weibo_logo"></div>
                    <div class="little_pic" id="wechat_logo" onclick="openWeChatInfo();"></div>
                    <!-- 弹出微信二维码 -->
                    <div id="weChatModel" class="weChatModel">
                        <span class="weChatclose" onclick="closeWeChatPic()">&times;</span>
                        <img class="weChatModal-content" id="weChatImg" src="pic/weChatImg.jpg">
                        <div id="weChatInfo">微信二维码</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 可以隐藏的部分 -->
    <div id="head_down">
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="jumpToTeachPage()">乐器教学</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">演出承接</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">短视频运营</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">乐器设备销售</a>
        </li>
        <li class="header-nav-in" id="header-nav-in-end" onclick="openAddress()">
            <a class="top_a" href="javascript:void(0)">录音服务</a>
        </li>
    </div>
</header>
<!-- 图片切换动态效果 新闻 -->
<div id="news">
    <div id="newsTop">
        <div id
             style="position: absolute;left: 50%;top: 50%;z-index: 2;transform: translate(-50%, -50%);text-align: center">
            <p id="news_teacher_name"></p>
            <p id="news_teacher_info"></p>
        </div>
        <div id="news-pic" onclick="jumToTeacherPageByNews()"></div>
    </div>
    <div id="newsbottom">
        <div id="news-bottom-Center">
            <div id="news_bottom_0" class="news-bottom-Center-page" onclick="clickNews(0)">
                <div id="news_bottom_0_blue" class="new_bottom_blue"></div>
            </div>
            <div id="news_bottom_1" class="news-bottom-Center-page" onclick="clickNews(1)">
                <div id="news_bottom_1_blue" class="new_bottom_blue"></div>
            </div>
            <div id="news_bottom_2" class="news-bottom-Center-page" onclick="clickNews(2)">
                <div id="news_bottom_2_blue" class="new_bottom_blue"></div>
            </div>
            <div id="news_bottom_3" class="news-bottom-Center-page" onclick="clickNews(3)">
                <div id="news_bottom_3_blue" class="new_bottom_blue"></div>
            </div>
        </div>
    </div>
</div>
<!-- 展示视频 弹出新窗口-->
<div id="hesher_video_vid" onload="initVideoDiv()">
    <h3 id="hesher_video_left">
        <span class="hesher_video_left-big">视频</span>
        <span class="hesher_video_left-content">Hesher<span class="hesher_video_left-min"></span></span>
    </h3>
    <img id="heasher_video_logo" src="pic/video_play_btn.png" onclick="jumpToVideoPage()"/>
    <div id="hesher_video_left_line"></div>
    <div id="hesher_video_bottom_div">
        <div id="hesher_video_bottom_href"><p id="hesher_video_bottom_p" style="cursor:pointer"
                                              onclick="jumpToVideoPage()">查看更多</p></div>
    </div>
</div>
<div id="pure-g">
    <div class="pure-g-div" id="pure-g-div-left">
        <p class="pure-g-div-p">联系我们</p>
        <img src="pic/addressUsImg.png"/>
        <div class="pure-g-div-bottom">
            <p id="pure-g-div-bottom_left_t" style="cursor:pointer" onclick="openAddress()">查看更多</p>
        </div>
    </div>
    <div class="pure-g-div" id="pure-g-div-right">
        <p class="pure-g-div-p">技术支持</p>
        <img src="pic/techSuppostImg.png"/>
        <div class="pure-g-div-bottom">
            <p id="pure-g-div-bottom_right_t" style="cursor:pointer" onclick="openAddress()">查看更多</p>
        </div>
    </div>
</div>
<!--左侧b站 右侧微博-->
<div id="showHesher">
    <div class="showHesher_page" id="showHesher_left">
        <div class="showHesher_top">
            <h2 class="showHesher_top_text"><span class="showHesher_top_text_name">Hesher</span>Bilibili</h2>
            <div class="showHesher_top_frame">
                <iframe loading="lazy"
                        src="http://player.bilibili.com/player.html?aid=201478471&bvid=BV1Fh411Z77v&cid=215559154&page=1"
                        style="width: 100%; height: 100%" scrolling="no" border="0"
                        frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </div>
        </div>
        <div class="showHesher_down" onclick="jumpToBiBiliPage()" id="showHesher_left_down"><p>查看更多</p></div>
    </div>
    <div class="showHesher_page" id="showHesher_right">
        <div class="showHesher_top">
            <h2 class="showHesher_top_text"><span class="showHesher_top_text_name">Hesher</span>微博</h2>
            <div class="showHesher_top_frame">
                <iframe loading="lazy" style="width: 100%; height: 100%;" frameborder="0"
                        scrolling="no" src="https://weibo.com/Pantrick?is_all=1"></iframe>
            </div>
        </div>
        <div class="showHesher_down" id="showHesher_right_down" onclick="jumpToWeiBoPage()"><p>查看更多</p></div>
    </div>
</div>
<!-- 地址信息 -->
<div id="contact">
    <div id="contant_close_div">
        <div id="closecontact" onclick="closeImg()"></div>
    </div>
    <div id="buttom_div">
        <div id="contact_info">
            <!--        <div style="width: 300px;height: 136px">-->
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_1">
                    <div class="button_model_pic">
                        <div class="address_img" onclick="phoneButtonClick(this)"
                             id="address_phone_img"></div>
                    </div>
                    <div class="button_model_font">电话</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_2">
                    <div class="button_model_pic" onclick="jumpToBiliBililAndAnmite(this)" >
                        <div class="address_img" id="address_bilibili_img"></div>
                    </div>
                    <div class="button_model_font">bilibili</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_3">
                    <div class="button_model_pic" onclick="jumpToWeiBoAndDou()">
                        <div class="address_img" id="address_weibo_img"></div>
                    </div>
                    <div class="button_model_font">微博</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_4">
                    <div class="button_model_pic" onclick="onClickEmail(this)">
                        <div class="address_img" id="address_email_img"></div>
                    </div>
                    <div class="button_model_font">邮箱</div>
                </div>
            </div>
            <div id="contact_weChat_div">
                <div id="contact_weChat_img"></div>
                <div style="height: 20px;width: 300px" class="button_model_font">微信二维码</div>
            </div>
            <div id="contact_DouYin_div">
                <div id="contact_DouYin_img"></div>
                <div style="height: 20px;width: 300px" class="button_model_font">抖音二维码</div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_5">
                    <div class="button_model_pic" onclick="weChatClick(this)">
                        <div class="address_img" id="address_wechat_img"></div>
                    </div>
                    <div class="button_model_font">微信</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_6">
                    <div class="button_model_pic" onclick="douYinCLick(this)">
                        <div class="address_img" id="address_douyin_img"></div>
                    </div>
                    <div class="button_model_font">抖音</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部信息 -->
<div id="bottom-main">
    <!-- return top -->
    <div id="bottom-return-top-div" onclick="retrunToTop()">
        <div style="width: 100%;height: 51px">
            <img src="pic/top.svg" style="height: 70%;width: auto;"/>
        </div>
        <div style="width: 100%;height: 14px">
            <span style="color: rgba(136,136,136,1);">PAGE TOP</span>
        </div>
    </div>
    <!-- 其他信息 -->
    <div id="bottom-otherinfo-div">
        <!-- logo -->
        <div style="width: 100%;text-align: center;padding-top: 40px">
            <img id="bottom-logo-img" src="pic/logo1_1.png"/>
        </div>
        <!-- 联系我们 -->
        <div id="address-us-div">
            <li class="address-us-li">
                <a href="javascript:void(0)" id="bottom_addredd_us" onclick="openAddress()">联系我们</a>
            </li>
            <li class="address-us-li">
                <a href="javascript:void(0)" onclick="jumpToBiBiliPage()">哔哩哔哩</a>
            </li>
            <li class="address-us-li">
                <a href="javascript:void(0)" onclick="jumpToBiBiliPage()">微博</a>
            </li>
        </div>
        <!-- 版权信息 -->
        <div>
            <p id="footer-copy">Copyright © 2020 HesherStudio. All right reserved. Products and specifications are
                subject to change without notice</p>
        </div>
    </div>
</div>
<div id="waitingDiv" style="height: 100vh;width: 100vw;background: rgb(0,0,0)">
    <div id="waitingPic"></div>
</div>
</body>
</html>