<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      style="overflow-x: hidden;overflow-y: auto">
<head>
    <title>Video - 海瑟文化 - Hesher Studio</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="pic/favicon.ico">
    <link rel="stylesheet" href="css/Hesher_Header.css" type="text/css"/>
    <link rel="stylesheet" href="css/Hesher_Bottom.css" type="text/css">
    <link rel="stylesheet" href="css/Hesher_Address.css" type="text/css">
    <link rel="stylesheet" href="css/video.css" type="text/css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <link href="css/video_moble.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)">
    <link href="css/video_web.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)">
    <script type="text/javascript" src="js/video.js"></script>
    <script type="text/javascript" src="js/Hesher_Head.js"></script>
    <script type="text/javascript" src="js/Hesher_Bottom.js"></script>
    <script type="text/javascript" src="js/Hesher_Address.js"></script>
    <style>
        body {
            font-size: 62.5%;
            font-family: "Microsoft YaHei", Arial;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 0;
            width: 100vw;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        html {
            width: 100vw;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .viewport {
            max-width: 640px;
            min-width: 300px;
            margin: 0 auto;
        }

        body {
            margin: 0px 0px 0px 0px;
        }
    </style>
</head>
<body onload="initPage()" ontouchstart="" onmouseover="">
<!-- 头部标题 -->
<header id="head">
    <!--上方部分 -->
    <div id="head_top">
        <!-- MENU弹出框 分辨率横向大于1024时，左边距40px,小于等于则16px-->
        <div id="head_top_left">
            <div id="header-content-left-in">
                <div id="header-content-left-in-in" onclick="openOrCloseLeftMenu()">
                    <div id="header-content-left-in-in-in">
                        <div id="header-content-left-in-in-in-top"></div>
                        <div id="header-content-left-in-in-in-bottom"></div>
                    </div>
                    <span id="header-menu-text">MENU</span>
                </div>
            </div>
            <div id="left_menu_0">
                <!--电脑端 -->
                <div id="left_menu_web">
                    <div style="width: 100vw;height: 103px;position: absolute;top: 0px;left: 0px;">
                        <div style="position: absolute;top:0px;left:0px;padding-top: 30px;padding-left: 40px;width: 40px;height: 40px;cursor: pointer;"
                             onclick="openOrCloseLeftMenu()"></div>
                    </div>
                    <div class="left_menu_web_style" id="left_menu_web0"></div>
                    <div class="left_menu_web_style" id="left_menu_web1"></div>
                    <div class="left_menu_web_style" id="left_menu_web2"></div>
                </div>
                <!--手机端 -->
                <div id="left_menu_moble" style="display: none">
                    <div style="height: 80px;width: 100vw;position: absolute;top: 0;left: 0;border-bottom: 1px solid rgb(77,77,77)">
                        <div style="position: absolute;padding-left: 16px;padding-top: 20px;width: 40px;height: 40px;cursor: pointer;"
                             onclick="openOrCloseLeftMenu()"></div>
                    </div>
                    <div id="left_menu_moble_0">
                    </div>
                </div>
            </div>
        </div>
        <!--Logo-->
        <div id="logo_div">
            <div id="head_top_logo"></div>
        </div>
        <!-- 右侧图标 分辨不同情况下显示不同 -->
        <div id="head-content-right">
            <div id="pos_relative">
                <div id="header-content-right-sp" onclick="openAddress()">
                    <div id="double_corcle"></div>
                    <span id="header_share_text">SHARE</span>
                </div>
                <div id="header-content-right-wrap">
                    <p id="follow-us-text">FOLLOW US:</p>
                    <div class="little_pic" id="bilibili_logo" onclick="jumpToBiBiliPage()"></div>
                    <div class="little_pic" onclick="jumpToWeiBoPage()" id="weibo_logo"></div>
                    <div class="little_pic" id="wechat_logo" onclick="openWeChatInfo();"></div>
                    <!-- 弹出微信二维码 -->
                    <div id="weChatModel" class="weChatModel">
                        <span class="weChatclose" onclick="closeWeChatPic()">&times;</span>
                        <img class="weChatModal-content" id="weChatImg" src="pic/weChatImg.jpg">
                        <div id="weChatInfo">微信二维码</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 可以隐藏的部分 -->
    <div id="head_down">
        <li class="header-nav-in">
            <a class="top_a" id = "top_teach" href="javascript:void(0)">乐器教学</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">演出承接</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">短视频运营</a>
        </li>
        <li class="header-nav-in">
            <a class="top_a" href="javascript:void(0)" onclick="openAddress()">乐器设备销售</a>
        </li>
        <li class="header-nav-in" id="header-nav-in-end" onclick="openAddress()">
            <a class="top_a" href="javascript:void(0)">编曲录音服务</a>
        </li>
    </div>
</header>
<div class="video_main" style="display: none">
    <div class="video_in">
        <h3 class="video_tittle">MEET OUT
            SHOW</h3>
        <div class="video_show_main">
            <div id="video_left"></div>
            <div id="video_right" class="video_right">
            </div>
        </div>
    </div>
</div>
<div class="video_more_main" style="display:none;">
    <div class="video_more_in">
        <div id="weixin"></div>
        <div id="douyin"></div>
    </div>
</div>

<!-- 地址信息 -->
<div id="contact" onclick="closeImg()">
    <div id="contant_close_div">
        <div id="closecontact" onclick="closeImg()"></div>
    </div>
    <div id="buttom_div">
        <div id="contact_info">
            <!--        <div style="width: 300px;height: 136px">-->
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_1">
                    <div class="button_model_pic" onclick="phoneButtonClick(this)">
                        <div class="address_img"
                             id="address_phone_img"></div>
                    </div>
                    <div class="button_model_font">电话</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_2">
                    <div class="button_model_pic" onclick="jumpToBiliBililAndAnmite(this)">
                        <div class="address_img" id="address_bilibili_img"></div>
                    </div>
                    <div class="button_model_font">bilibili</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_3">
                    <div class="button_model_pic" onclick="jumpToWeiBoAndDou(this)">
                        <div class="address_img" id="address_weibo_img"></div>
                    </div>
                    <div class="button_model_font">微博</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_4">
                    <div class="button_model_pic" onclick="onClickEmail(this)">
                        <div class="address_img" id="address_email_img"></div>
                    </div>
                    <div class="button_model_font">邮箱</div>
                </div>
            </div>
            <div id="contact_weChat_div">
                <div id="contact_weChat_img"></div>
                <div style="height: 20px;width: 300px" class="button_model_font">微信二维码</div>
            </div>
            <div id="contact_DouYin_div">
                <div id="contact_DouYin_img"></div>
                <div style="height: 20px;width: 300px" class="button_model_font">抖音二维码</div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_5">
                    <div class="button_model_pic" onclick="weChatClick(this)">
                        <div class="address_img" id="address_wechat_img"></div>
                    </div>
                    <div class="button_model_font">微信</div>
                </div>
            </div>
            <div class="button_model">
                <div class="button_model_anime" id="button_model_anime_6">
                    <div class="button_model_pic" onclick="douYinCLick(this)">
                        <div class="address_img" id="address_douyin_img"></div>
                    </div>
                    <div class="button_model_font">抖音</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部信息 -->
<div id="bottom-main">
    <!-- return top -->
    <div id="bottom-return-top-div" onclick="retrunToTop()">
        <div style="width: 100%;height: 51px">
            <img src="pic/top.svg" style="height: 70%;width: auto;"/>
        </div>
        <div style="width: 100%;height: 14px">
            <span style="color: rgba(136,136,136,1);">PAGE TOP</span>
        </div>
    </div>
    <!-- 其他信息 -->
    <div id="bottom-otherinfo-div">
        <!-- logo -->
        <div style="width: 100%;text-align: center;padding-top: 40px">
            <img id="bottom-logo-img" src="pic/logo1_1.png"/>
        </div>
        <!-- 联系我们 -->
        <div id="address-us-div">
            <li class="address-us-li">
                <a href="javascript:void(0)" id="bottom_addredd_us" onclick="openAddress()">联系我们</a>
            </li>
            <li class="address-us-li">
                <a href="javascript:void(0)" onclick="jumpToBiBiliPage()">哔哩哔哩</a>
            </li>
            <li class="address-us-li">
                <a href="javascript:void(0)" onclick="jumpToBiBiliPage()">微博</a>
            </li>
        </div>
        <!-- 版权信息 -->
        <div>
            <p id="footer-copy">Copyright © 2020 HesherStudio. All right reserved. Products and specifications are
                subject to change without notice</p>
        </div>
    </div>
</div>
<div class = "jumpPic" onclick="closePic()"></div>
<div id="waitingDiv" style="height: 100vh;width: 100vw;background: rgb(0,0,0)">
    <div id="waitingPic"></div>
</div>
<p id="videoJsonInfo" style="display: none" th:text="${videoInfo}"/>
</body>
</html>